body {
	height: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("../img/background_body.png");
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;
}

main {
	flex: 1 1 auto;
}

.container {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0 $paddingContainer;
}

.button {
	transition: all 0.3s ease-in-out;
	background-color: transparent;
	cursor: pointer;
	border: 1.627px solid #fff;
	border-radius: 0.40688rem;
	font-size: 1.52569rem;
	font-style: normal;
	font-weight: 500;
	line-height: 2.60388rem;
	color: #fff;
}

.title {
	color: $secondary-color;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.6rem;
	text-transform: uppercase;
}
